.metadata
frontend
assessment-service
batch-service
category-service
eureka
location-service
quality-audit-service
skilltype-service
user-service
zuul
config-server
centralized-configurations
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
log.txt
src\\com\\..\\log.txt
